@font-face {
  font-family: "Amstrong";
  src: url("../assets/aMSTRONG.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Opensans", sans-serif;
}

.chartContainer {
  border: 0;
  /* justify-content: center; */
  justify-items: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  /* align-content: center; */
}

.chartContainer canvas {
  flex-grow: 1;
  max-width: 30%;
  max-height: 600px;
}

.top-bar {
  background-color: #000000;
  display: flex;
  text-align: center;
  padding: 0px 50px;
}

.top-bar h3 {
  color: white;
  font-family: "Opensans", sans-serif;
}

.main {
  background-color: #c31515;
  background: linear-gradient(to right, #c31515, #0e7b50);
  padding: 40px 40px;
  text-align: center;
}

.main h1 {
  color: white;
  font-size: 100px;
  margin-bottom: 10px;
  font-family: "Amstrong", sans-serif;
  letter-spacing: 5px;
}

.main p {
  color: white;
  font-size: 16px;
  font-family: "Opensans", sans-serif;
}

.game {
  background-color: #ddd;
  padding: 200px 100px;
  display: flex;
  justify-content: center;
}

.game img {
  max-width: 120px;
  margin-bottom: 20px;
}

.game h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.play {
  background-color: #000000;
  background: linear-gradient(to right, #000000, #6e6e6e);
  padding: 20px 10px; /* Corrected padding values */
  display: flex;
  justify-content: center;
}

.play h2 {
  font-size: 30px;
  color: white;
}

.play li {
  font-size: 20px;
  color: white;
}

.play p {
  font-size: 20px;
  color: white;
  padding: 0px 20px;
}

.play div {
  padding: 0px 110px;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 600px) {
  .game article {
    width: calc(50% - 20px);
  }
}

@media (max-width: 400px) {
  .game article {
    width: 100%;
  }
}
