@font-face {
  font-family: "Amstrong";
  src: url("../assets/aMSTRONG.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Opensans", sans-serif;
}

.top-bar {
  background-color: #000000;
  display: flex;
  text-align: center;
  padding: 0px 50px;
}

.top-bar h3 {
  color: white;
  font-family: "Opensans", sans-serif;
}

.main {
  background-color: #c31515;
  background: linear-gradient(to right, #c31515, #0e7b50);
  padding: 40px 40px;
  text-align: center;
}

.main h1 {
  color: white;
  font-size: 100px;
  margin-bottom: 10px;
  font-family: "Amstrong", sans-serif;
  letter-spacing: 5px;
}

.main p {
  color: white;
  font-size: 16px;
  font-family: "Opensans", sans-serif;
}

.game {
  background-color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

.game img {
  max-width: 120px;
}

.game h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.play {
  background-color: #000000;
  background: linear-gradient(to right, #000000, #6e6e6e);
  padding: 20px 10px; /* Corrected padding values */
  display: flex;
  justify-content: center;
}

.play h2 {
  font-size: 30px;
  color: white;
}

.play li {
  font-size: 20px;
  color: white;
}

.play p {
  font-size: 20px;
  color: white;
  padding: 0px 20px;
}

.play div {
  padding: 0px 110px;
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.user-input label {
  color: #333333;
  font-family: "Opensans", sans-serif;
  margin-right: 10px;
  font-size: 16px;
}

#username {
  padding: 8px 15px;
  font-size: 16px;
  border: 2px solid #ffffff;
  background-color: #333333;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  pointer-events: auto;
  user-select: text;
}

#username:focus {
  border-color: #c31515;
}

.user-input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #c31515;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-input button:hover {
  background-color: #a4120f;
}

.container {
  display: flex;
  flex-direction: column; /* Stack chartContainer divs vertically */
  align-items: center;
  margin: 20px;
}

.chartContainer {
  display: flex;
  flex-direction: row; /* Aligns children (canvas elements) in a row */
  justify-content: space-around; /* Even spacing between the charts */
  width: 100%; /* Full width to accommodate two charts side by side */
  margin-bottom: 20px; /* Space between the rows of charts */
}

.chartContainer canvas {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 45%;
  max-width: 600px;
  max-height: 400px;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 600px) {
  .game article {
    width: calc(50% - 20px);
  }
}

@media (max-width: 400px) {
  .game article {
    width: 100%;
  }
}
